body, html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.navbar{
    background-color: #142738!important;
}
.navbar-nav a{
    color: aliceblue!important;
    font-size: 18px;
}
.navbar-nav [href="#"]{
    color: #f4436f!important;
}
.navbar-collapse{
    flex-grow: 0;
}
.categories, .searcher{
    margin: 5px 5px;
}
.searcher{
    flex-grow: 0;
}
.card{
    height: 100%;
}
.card:hover{
    box-shadow: 10px 10px 5px 0px rgba(244,67,111,0.31);
    cursor: pointer;
}
.carDetails{
    display: flex;
    flex-direction: row;
    padding: 25px 20px;
    background-color: #142738;
    z-index: -50;
    border-radius: 24px;
}
.carDetails img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 14px;
}
.carDetails .card-body{
    background-color: aliceblue!important;
    margin-left: 10px;
    border-radius: 14px;
} 
footer{
    background-color: #142738;
}